/* CSS for the header*/
/* ---------------------------------------*/
.header {
    display: flex;
    padding: 16px;
    margin: 0px;
    justify-content: space-around;
    font-family: Roboto;
    align-items: center;
    background-color: #1F2937;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

li {
    font-size: 18px;
    font-family: Roboto;
    color: #E5E7EB;
}

/* ---------------------------------------*/

/* CSS for the hero section*/
/* ---------------------------------------*/
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    font-family: Roboto;
    padding: 100px 16px;
}

.subhero {
    width: 400px;
}

.herotext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.subtext {
    font-size: 18px;
    width: 400px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.button {
    padding: 10px 20px;
    font-weight: bold;
    background: #3882F6;
    max-width: 56px;
    color: #E5E7EB;
    border-radius: 16px;
}

img {
    border-radius: 16px;
}

/* ---------------------------------------*/

/* CSS for the info section*/
/* ---------------------------------------*/

.information {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-family: Roboto;
    color: #1F2937;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 48px;
}

.boximages {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 100px;
}

.text {
    margin-top: 16px;
}

/* ---------------------------------------*/

/* CSS for the quote section*/
/* ---------------------------------------*/

.quote {
    padding: 80px 500px;
    background-color: #E5E7EB;
    font-family: Roboto;
    color: #1F2937;
}

.blockquote {
    font-size: 36px;
    text-align: left;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
}

/* ---------------------------------------*/

/* CSS for the call to action section*/
/* ---------------------------------------*/
.ctaBlock {
    margin-top: 100px;
    padding: 0px 300px;
    color: #F9FAF8;
    margin-bottom: 100px;
}

.callToAction {
    border-radius: 8px;
    background: #3882F6;
    display: flex;
    font-family: Roboto;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
    gap: 48px;

}

.ctaInfo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.ctaButton {
    padding: 10px 20px;
    border: 2px solid #F9FAF8;
    font-weight: bold;
    border-radius: 16px;
}

/* ---------------------------------------*/

/* CSS for footer section*/
/* ---------------------------------------*/

.footer {
    padding: 24px;
    text-align: center;
    background-color: #1F2937;
    font-family: Roboto;
    color: #F9FAF8;
}

body {
    margin: 0px;
}